<div id="calculator">
    <div id="dollars" x-mojo-element="IntegerPicker" style="float: left;"></div>
    <div id="cents" x-mojo-element="IntegerPicker" style="float: left;"></div>
    <div id="twipPercent" x-mojo-element="IntegerPicker" style="clear: both;"></div>
</div>
<div id="twipAmount">
    Amount to tip:
</div>
<div id="grandTotal">
    Grand total:
</div>
<div id="loginDetails" class="hidden">
    <div class="palm-group">
        <div class="palm-group-title">Login Details</div>        
        <div class="palm-list">
            <div class="palm-row first">
                <div class="palm-row-wrapper">
                    <div class="textfield-group" x-mojo-focus-highlight="true">
                        <div class="title">
                            <div id="twitterUsername" x-mojo-element="TextField"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="palm-row">
                <div class="palm-row-wrapper">
                    <div class="textfield-group" x-mojo-focus-highlight="true">
                        <div class="title">
                            <div id="twitterPassword" x-mojo-element="PasswordField"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="palm-row last">
                <div class="palm-row-wrapper">
                    <div class="textfield-group" x-mojo-focus-highlight="true">
                        <div class="title">
                            <div class="palm-text" style="float: left;">
                                Save login details?
                            </div>
                            <div id="saveLoginDetails" x-mojo-element="CheckBox" style="float: right;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="twipSubmit" x-mojo-element="Button"></div>
<div id="twipAs" class="hidden"></div>
